<?php
$this->htmlElement('body')->appendAttribute('class', 'page');
$this->pageTitle($page->title(), 2);
$showPagePagination = $this->siteSetting('show_page_pagination', true);
?>

<?php
$nav = $site->publicNav();
$container = $nav->getContainer();
$activePage = $nav->findActive($container);
try {
    $defaultSiteResponse = $this->api()->read('sites', 1);
    $defaultSite = $defaultSiteResponse->getContent();
	$themeSettings = $this->siteSetting('theme_settings_' . $defaultSite->theme(), null, $defaultSite->id());
	if(!empty($_SESSION['lang']) && $_SESSION['lang']=='en'){
		$menuSiteResponse = $this->api()->read('sites', $themeSettings['en']);
		$menuSite = $menuSiteResponse->getContent();
	}else{
		$menuSite = $defaultSite;
	}
} catch (ApiException\NotFoundException $e) {
    // Consume error if default site isn't found
}
?>
<?php if($site->slug()==$menuSite->slug()){ ?>
<div class="content__block">
<?php } ?>
<?php if ($activePage): ?>
    <?php if ($this->displayNavigation && $activePage['page']->hasPages()): ?>
    <nav class="sub-menu"><?php echo $nav->menu()->renderSubMenu(); ?></nav>
    <?php endif; ?>
<?php endif; ?>

<?php $this->trigger('view.show.before'); ?>
<?php echo $this->content; ?>
<?php $this->trigger('view.show.after'); ?>
<?php if ($showPagePagination): ?>
<?php echo $this->sitePagePagination(); ?>
<?php endif; ?>
<?php if($site->slug()==$menuSite->slug()){ ?>
</div>
<?php } ?>
