<?php if ($folder): ?>
    <?php $status = $folder->status(); ?>
    <div class="folder-status">
        <span class="status <?php echo $status; ?>">
            <?php
                switch ($status) {
                    case ArchiveFolder\Entity\Folder::STATUS_ADDED:
                        $status = $this->translate('Folder added');
                        break;

                    case ArchiveFolder\Entity\Folder::STATUS_RESET:
                        $status = $this->translate('Status reset');
                        break;

                    case ArchiveFolder\Entity\Folder::STATUS_QUEUED:
                        $status = $this->translate('Process queued');
                        break;

                    case ArchiveFolder\Entity\Folder::STATUS_PROGRESS:
                        $status = $this->translate('Process in progress');
                        break;

                    case ArchiveFolder\Entity\Folder::STATUS_PAUSED:
                        $status = $this->translate('Process paused');
                        break;

                    case ArchiveFolder\Entity\Folder::STATUS_STOPPED:
                        $status = $this->translate('Process stopped');
                        break;

                    case ArchiveFolder\Entity\Folder::STATUS_KILLED:
                        $status = $this->translate('Process killed');
                        break;

                    case ArchiveFolder\Entity\Folder::STATUS_COMPLETED:
                        $status = $this->translate('Process completed');
                        break;

                    case ArchiveFolder\Entity\Folder::STATUS_DELETED:
                        $status = $this->translate('Folder deleted');
                        break;

                    case ArchiveFolder\Entity\Folder::STATUS_ERROR:
                        $status = $this->translate('Process Error');
                        break;

                    default:
                        $status = $this->translate('Error');
                }
                echo $status;
            ?>
        </span>
    </div>
<?php endif; ?>
