<ul class="quick-filter-wrapper">
    <li>
        <a href="#" tabindex="0"><?php echo $this->translate('Quick Filter'); ?></a>
        <ul class="dropdown">
            <li><span class="quick-filter-heading"><?php echo $this->translate('Quick Filter') ?></span></li>
            <li><?php echo $this->hyperlink($this->translate('View all'), $this->url('archivefolder_index', ['action' => 'browse'])); ?></li>
            <li><?php echo $this->hyperlink($this->translate('Status Ready'), $this->url('archivefolder_index', ['action' => 'browse'], ['query' => ['status' => 'ready']])); ?></li>
            <li><?php echo $this->hyperlink($this->translate('Status Processing'), $this->url('archivefolder_index', ['action' => 'browse'], ['query' => ['status' => 'processing']])); ?></li>
            <li><?php echo $this->hyperlink($this->translate('Status Error'), $this->url('archivefolder_index', ['action' => 'browse'], ['query' => ['status' => 'error']])); ?></li>
        </ul>
    </li>
</ul>
