<?php
$searchValue = $this->escapeHtml($this->params()->fromQuery('search', ''));
?>

<form action="/" class="site_search clearfix">
	<label for="site-search" class="visually-hidden">Ieškoti parodų</label>
	<input type="text" name="search" placeholder="<?php echo ($_SESSION['lang']=='en') ? 'Search' : 'Ieškoti parodų'; ?>" value="<?php if($searchValue!=1) echo $searchValue; ?>" class="site_search__input" id="site-search">
	<button type="submit" class="site_search__submit" aria-label="Ieškoti"><i aria-hidden="true" class="icon-search"></i></button>
</form>
