<?php
$summary = $showSummary ? $site->summary() : null;

$themeSettings = $this->siteSetting('theme_settings_' . $site->theme(), null, $site->id());

try {
    $response = $this->api()->read('assets', $themeSettings['logo']);
    $logoUrl = $response->getContent()->assetUrl();
} catch (Omeka\Api\Exception\NotFoundException $e) {
    $logoUrl = null;
}
?>
<li class="story_list__items">
    <a href="<?php echo $site->siteUrl(); ?>" class="story_list__image"><img src="<?php echo $logoUrl; ?>" alt=""></a>
    <div class="story_list__text clearfix">
      <div class="story_list__tags clearfix">
        <div class="story_list__tags__themes"><?php echo count($site->linkedPages()); ?><span class="story_list__tags__txt"><?php echo ($clang=='en') ? 'Themes' : 'Temos'; ?></span></div>
        <div class="story_list__tags__objects"><?php echo $site->itemCount(); ?><span class="story_list__tags__txt"><?php echo ($clang=='en') ? 'Objects' : 'Objektai'; ?></span></div>
      </div>
		<span class="story_list__date"><?php echo $site->created()->format('Y-m-d'); ?></span>
      <h3><a href="<?php echo $site->siteUrl(); ?>"><?php echo $site->title(); ?></a></h3>
    </div>
</li>
