// colors with hex values
@black: #000;
@tundora: #494949;
@mine-shaft: #323232;
@white: #fff;
@alto: #d5d5d5;
@gallery: #f0f0f0;
@dove-gray: #727272;
@casal: #296c5a;
@red-damask: #d86449;
@monza: #d60017;

// reassign color vars to semantic color scheme
@text-color: @black;
@secondary-text-color: @tundora;
@elements-color: @white;
@deco-color: @casal;
@secondary-deco-color: @red-damask;

// font
@primary-font: "PT Sans", sans-serif;
@secondary-font: "PT Serif", serif;

// other elelemnts
@primary-transition: .5s ease;
@primary-radius: 5px;
@border-color: @alto;
@error: @monza;

// media queries
@mobile-max: 767px;
@tablet-min: 768px;
@tablet-max: 1179px;
