@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon.ttf?yull6b') format('truetype'),
    url('../fonts/icomoon.woff?yull6b') format('woff'),
    url('../fonts/icomoon.svg?yull6b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-youtube:before {
  content: "\e904";
}
.icon-navi:before {
  content: "\e905";
}
.icon-rss:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-slide-next:before {
  content: "\e908";
}
.icon-slide-prev:before {
  content: "\e909";
}
.icon-spotify:before {
  content: "\e90a";
}
