figure.containerZoom {
  border: 15px solid #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
  background-position: 50% 50%;
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
  margin: 0 0 20px 0;
  display: inline-block;
}
figure.containerZoom img {
  max-width: 100%;
  max-height: 80vh;
  transition: opacity .5s;
  display: inline-block;
}
figure.containerZoom.active img {
  opacity: 0;
}
