@media (max-width: @mobile-max) {
  body {
    min-width: 320px;
  }
  .header {
    &__body {
      padding: 30px 20px;
      flex-flow: row wrap;
    }
  }
  .nav {
    &_share {
      width: 100%;
      &__items {
        padding: 0 5px 10px 5px;
      }
    }
    &_bottom {
      width: 100%;
      margin: 0 0 38px 0;
      &__items {
        width: 100%;
        text-align: center;
        border: none;
        padding: 0 0 10px 0;
        clear: right;
        float: right;
      }
    }
  }
  .site {
    &_logo {
      width: 100%;
      text-align: center;
      flex-flow: column nowrap;
      img {
        margin: 0 0 10px 0;
      }
      &__big {
        font: bold 28px/1 @secondary-font;
        padding: 5px 0 0 0;
      }
    }
    &_search {
      width: 100%;
      max-width: none;
      margin: 25px 0 0 0;
    }
    &_helpers {
      flex-flow: row wrap;
    }
  }
  .story {
    &_promo {
      margin: 50px 0;
      &__text {
        width: 100%;
        padding: 15px;
        .story_list__tags {
          margin: 0;
        }
      }
    }
    &_rows {
      padding: 0 0 35px 0;
      &__items {
        margin: 0 0 15px 0;
        flex-flow: row wrap;
        &:nth-of-type(even) {
          .story_list__tags {
            float: right;
          }
        }
      }
      &__image {
        min-height: 0;
        flex: 0 0 100%;
        img {
          width: 100%;
          transform: translate(0,0);
          transition: transform @primary-transition;
          position: relative;
          top: auto;
          left: auto;
        }
        &:hover {
          img {
            transform: translate(0,0) scale(1.1);
          }
        }
      }
      &__items:nth-of-type(even) &__image {
        order: 0;
      }
      &__text {
        padding: 15px;
        .story_list__tags {
          margin: 0;
        }
        .story_list__date {
          padding: 0 0 8px 0;
        }
      }
    }
    &_list {
      margin: 0 0 50px 0;
      &__items {
        width: 100%;
        margin: 0 0 15px 0;
      }
    }
  }
  .cover {
    &_slider {
      margin-bottom: 65px;
    }
  }
  .breadcrumb {
    width: 100%;
    padding: 0 0 10px 0;
  }
  .content {
    padding: 50px 0;
    &__block {
      padding: 15px 15px 0 15px;
      margin: 0 0 15px 0;
      .story_list__tags__objects + h2 {
        padding-top: 10px;
        padding-right: 0;
        clear: both;
      }
    }
    &__image {
      margin: 0 auto 15px auto;
    }
    &__info {
      margin: 0 0 15px 0;
      flex-flow: row wrap;
      &__wrap {
        width: 100%;
        & + & {
          padding-top: 10px;
        }
      }
    }
  }
  .footer {
    text-align: center;
    padding: 38px 0 0 0;
  }
}
