// modal
.mfp-iframe-holder .mfp-close,
.mfp-image-holder .mfp-close {
  width: auto;
  height: 28px;
  line-height: 28px;
  opacity: 1;
  transition: transform @primary-transition;
  padding: 0;
  top: 6px;
  right: 0;
  &:hover {
    transform: rotate(180deg);
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
