// imports top
@import (less) "config.less";
@import (inline) "normalize.css";
@import (inline) "reset.css";
@import (inline) "icomoon.css";
@import (less) "typografy.less";
@import (inline) "slick.css";
@import (inline) "photoswipe.css";
@import (inline) "default-skin.css";
@import (inline) "aos.css";
@import (less) "plugins.less";
body,
html {
  height: 100%;
}
body {
  color: @text-color;
  font: 15px/1.3 @primary-font;
  background: @gallery;
}
.wrapper {
  height: 1px;
  min-height: 100%;
  flex-flow: column nowrap;
  display: flex;
}
.main {
  width: 100%;
  max-width: 1210px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header {
  flex: none;
  &__top {
    background: @black;
    padding: 8px 0;
  }
  &__body {
    background: @elements-color;
    padding: 30px 50px;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
}
.nav {
  &_top {
    float: right;
    &__items {
      height: 30px;
      border-left: 1px solid darken(@border-color, 20%);
      float: left;
      &:first-child {
        border: none;
      }
    }
    &__links {
      color: @elements-color;
      font: 15px/30px @primary-font;
      text-decoration: none;
      transition: color @primary-transition;
      padding: 0 22px;
      display: block;
      &.active,
      &:hover {
        color: @secondary-deco-color;
      }
    }
  }
  &_share {
    font-size: 0;
    margin: 0 0 38px 0;
    float: left;
    &__items {
      padding: 0 10px 10px 0;
      display: inline-block;
    }
    &__links {
      color: @elements-color;
      font-size: 0;
      text-decoration: none;
      transition: color @primary-transition;
      display: block;
      &:hover {
        color: @secondary-deco-color;
      }
      [class^=icon-] {
        font-size: 31px;
      }
    }
  }
  &_bottom {
    margin: 6px 0 0 0;
    float: right;
    &__items {
      border-right: 1px solid darken(@border-color, 20%);
      padding: 0 10px;
      float: left;
      &:last-child {
        border: none;
        padding-right: 0;
      }
    }
    &__links {
      color: @elements-color;
      font: 15px/1.2 @primary-font;
      text-decoration: none;
      transition: color @primary-transition;
      display: block;
      &:hover {
        color: @secondary-deco-color;
      }
    }
  }
}
.site {
  &_logo {
    text-decoration: none;
    align-items: center;
    display: inline-flex;
    img {
      margin: 0 15px 0 0;
      flex: 0 0 auto;
    }
    &__small {
      color: fade(@secondary-text-color, 77%);
      font: 15px/1.2 @secondary-font;
      display: block;
    }
    &__big {
      color: @text-color;
      font: bold 32px/1.1 @secondary-font;
      text-transform: uppercase;
      display: block;
    }
  }
  &_search {
    width: 100%;
    max-width: 480px;
    height: 60px;
    border: 1px solid @border-color;
    border-radius: 30px;
    margin: 0 0 0 30px;
    display: flex;
    flex: 1 1 0;
    &__input {
      width: 100%;
      font: 15px/1.2 @primary-font;
      background: none;
      padding: 0 0 0 25px;
    }
    &__submit {
      color: @text-color;
      background: none;
      transition: color @primary-transition;
      padding: 0 20px;
      &:hover {
        color: @secondary-deco-color;
      }
      [class^=icon-] {
        font-size: 23px;
      }
    }
  }
  &_helpers {
    color: @text-color;
    background: @gallery;
    padding: 12px 0;
    .main {
      align-items: center;
      justify-content: space-between;
      display: flex;
    }
    &__btn {
      height: 54px;
      color: @elements-color;
      font: bold 16px/1.2 @primary-font;
      text-decoration: none;
      background: @secondary-deco-color;
      transition: all @primary-transition;
      align-items: center;
      display: inline-flex;
      &:hover {
        background: darken(@secondary-deco-color, 15%);
      }
      &__hold {
        padding: 16px 20px;
        align-items: center;
        display: inline-flex;
        [class^=icon-] {
          font-size: 24px;
          margin: 0 0 0 5px;
        }
      }
      .story_list__tags__themes {
        height: 54px;
        background: darken(@secondary-deco-color, 15%);
        padding: 6px 0 0 0;
        margin: 0;
      }
    }
  }
}
.body {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 auto;
  &--cover {
    color: @elements-color;
    text-align: center;
    position: relative;
    z-index: 1;
	background-size:cover!important;
    &:before {
      height: 486px;
      content: "";
      background: linear-gradient(rgba(0,0,0,.01), rgb(33,32,32));
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }
}
.story {
  &_promo {
    min-height: 447px;
    margin: 77px 0 70px 0;
	background-size:cover!important;
    &__text {
      width: 52.63%;
      color: @elements-color;
      background: @deco-color;
      padding: 30px 30px 20px 30px;
      margin: 172px 0 -30px 0;
      .story_list__tags {
        margin: 0 0 -20px 0;
        .story_list__tags__objects {
          color: @deco-color;
          background: @elements-color;
          .story_list__tags__txt {
            color: fade(@deco-color, 50%);
          }
        }
      }
      .story_list__date {
        clear: both;
      }
      h3 a,
      .story_list__date,
      .story_rows__more {
        color: @elements-color;
      }
    }
  }
  &_rows {
    padding: 0 0 30px 0;
    &__items {
      background: @elements-color;
      margin: 0 0 20px 0;
      display: flex;
      &:nth-of-type(even) {
        .story_list__tags {
          float: left;
        }
      }
      h3 {
        margin: 0 0 14px 0;
      }
    }
    &__image {
      min-height: 413px;
      overflow: hidden;
      position: relative;
      flex: 0 0 52.63%;
      img {
        transform: translate(-50%,-50%);
        transition: transform @primary-transition;
        position: absolute;
        top: 50%;
        left: 50%;
		width: 100%;
		height: 100%;
		object-fit: cover;
      }
      &:hover {
        img {
          transform: translate(-50%,-50%) scale(1.1);
        }
      }
    }
    &__items:nth-of-type(even) &__image {
      order: 1;
    }
    &__text {
      padding: 30px;
      .story_list__tags {
        margin: 0 0 14px 0;
      }
      .story_list__date,
	  h3 {
        clear: both;
      }
    }
    &__more {
      color: @text-color;
      font-size: 0;
      transition: color @primary-transition;
      text-decoration: none;
      display: inline-block;
      &:hover {
        color: @secondary-deco-color;
      }
      [class^=icon-] {
        font-size: 25px;
      }
    }
  }
  &_list {
    margin: 0 -13px 100px -13px;
    display: flex;
    flex-flow: row wrap;
    &__items {
      width: ~"calc(33.333% - 26px)";
      background: @elements-color;
      margin: 0 13px 26px 13px;
      h3 {
        margin: 0;
      }
    }
    &__image {
      overflow: hidden;
      display: block;
      img {
        width: 100%;
        transition: transform @primary-transition;
		height: 245px;
		object-fit: cover;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
    &__text {
      padding: 0 15px 26px 15px;
    }
    &__tags {
      margin: -40px 0 0 0;
      position: relative;
      float: right;
      &__themes,
      &__objects {
        width: 64px;
        height: 64px;
        color: @elements-color;
        font: bold 20px/1.2 @primary-font;
        text-align: center;
        padding: 14px 0 0 0;
        margin: 0 0 0 5px;
        float: left;
      }
      &__themes {
        background: @secondary-deco-color;
      }
      &__objects {
        background: @deco-color;
      }
      &__txt {
        color: fade(@elements-color, 50%);
        font: 11px/1.2 @primary-font;
        text-transform: uppercase;
        padding: 4px 0 0 0;
        display: block;
      }
    }
    &__date {
      color: fade(@text-color, 30%);
      font: 13px/1.2 @primary-font;
      padding: 16px 0 8px 0;
      display: block;
    }
  }
}
.slick-arrow {
  color: @elements-color;
  font-size: 0;
  background: none;
  transition: color @primary-transition;
  position: absolute;
  top: ~"calc(50% - 27px)";
  z-index: 1;
  &:hover {
    color: @secondary-deco-color;
  }
  &:before {
    content: "";
    background: @black;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    z-index: -1;
  }
  [class^=icon-] {
    font-size: 55px;
  }
}
.cover {
  &_title {
    color: fade(@elements-color, 84%);
    font: bold 13px/1.2 @primary-font;
    text-transform: uppercase;
    padding: 122px 0 29px 0;
    display: block;
  }
  &_slider {
    color: @elements-color;
    text-align: left;
    background: @deco-color;
    padding: 0 16px 12px 16px;
    margin: 80px 40px 180px 40px;
    &__panels {
      width: ~"calc(204px + 32px)";
      color: @elements-color;
      text-decoration: none;
      transition: color @primary-transition;
      padding: 38px 16px 25px 16px;
	  width: min-content;
      &:hover {
        color: @secondary-deco-color;
      }
      img {
		height: 135px;
		object-fit: cover;
      }
      h4 {
        font: bold 15px/1.2 @secondary-font;
        padding: 9px 0 0 0;
		word-wrap: break-word;
		white-space: pre-wrap;
      }
    }
    .slick-prev {
      left: -27px;
    }
    .slick-next {
      right: -27px;
    }
    .slick-dots {
      justify-content: center;
      display: flex;
      li {
        margin: 0 3px;
        &.slick-active {
          button {
            background: @elements-color;
          }
        }
        button {
          width: 4px;
          height: 4px;
          text-indent: -99999px;
          background: fade(@elements-color, 16%);
          position: relative;
          display: inline-block;
          &:after {
            content: "";
            position: absolute;
            top: -3px;
            left: -3px;
            right: -3px;
            bottom: -3px;
          }
        }
      }
    }
  }
}
.breadcrumb {
  padding: 0 25px 0 0;
  &__items {
    font: 13px/1.2 @primary-font;
    margin: 3px 0;
    float: left;
    &:last-child {
      &:after {
        display: none;
      }
    }
    &:after {
      color: @dove-gray;
      content: "→";
      margin: 0 4px;
    }
  }
  &__links {
    color: @dove-gray;
    text-decoration: none;
    transition: color @primary-transition;
    &:hover {
      color: @secondary-deco-color;
    }
  }
}
.topics {
  width: 100%;
  color: @elements-color;
  opacity: 0;
  visibility: hidden;
  background: @deco-color;
  transition: all @primary-transition;
  padding: 20px 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  h3 {
    font-size: 30px;
    font-weight: normal;
    padding: 0 50px 0 32px;
    margin: 0;
  }
  &__close {
    color: @elements-color;
    font-size: 0;
    text-decoration: none;
    transition: transform @primary-transition;
    position: absolute;
    top: 20px;
    right: 20px;
    &:hover {
      transform: rotate(180deg);
    }
    [class^=icon-] {
      font-size: 16px;
    }
  }
  .cover_slider {
    margin: 0;
    .cover_slider__panels {
      padding-top: 32px;
      position: relative;
      &.slick-active {
        &:before {
          background: @elements-color;
        }
      }
      &:before {
        height: 3px;
        content: "";
        background: fade(@elements-color, 30%);
        transition: background @primary-transition;
        position: absolute;
        top: 16px;
        left: 16px;
        right: 16px;
      }
    }
    .slick-arrow {
      top: ~"calc(50% - 44px)";
    }
    .slick-prev {
      left: 20px;
    }
    .slick-next {
      right: 20px;
    }
    .slick-dots {
      position: absolute;
      left: -99999px;
    }
  }
}
.content {
  background: url(../img/content-bg.jpg) no-repeat fixed center top;
  padding: 100px 0 80px 0;
  background-size:cover!important;
  &__block {
    background: @elements-color;
    padding: 30px 30px 15px 30px;
    margin: 0 0 20px 0;
    .story_list__tags__objects + h2 {
      padding-right: 75px;
    }
	&:empty{
		display:none;
	}
	a{
		color:#A91919;
	}
  }
    &__gallery {
    text-align: center;
    margin: 0 0 20px 0;
    &__links {
      display: inline-block;
      img {
        margin: 0;
      }
    }
	.slick-list{
	  height:auto!important;
	}
    .slick-arrow {
      color: @secondary-deco-color;
      font-size: 0;
      background: none;
      position: absolute;
      top: ~"calc(50% - 25px)";
      z-index: 1;
      &:before {
        content: "";
        background: @elements-color;
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        z-index: -1;
      }
      [class^=icon-] {
        font-size: 50px;
      }
    }
    .slick-prev {
      left: 0;
    }
    .slick-next {
      right: 0;
    }
  }
  &__image {
    max-width: 100%;
    max-height: 90vh;
    border: 15px solid @elements-color;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    margin: 0 auto 20px auto;
    display: block;
	figure&{
		display: table;
		background: @elements-color;
		line-height: 17px;
		font-size: 13px;
		border-bottom-width: 5px;
		text-align:-webkit-center;
		figcaption{
			margin:5px;
			max-width: fit-content;
		}
		img{
			max-width: 100%;
			max-height: 90vh;
		}
	}
  }
  &__info {
    min-height: 57px;
    background: @elements-color;
    border-left: 9px solid darken(@secondary-deco-color, 12%);
    padding: 10px 15px;
    margin: 0 0 20px 0;
    justify-content: space-between;
    display: flex;
    &__wrap {
      & + & {
        text-align: right;
		margin-left:40px;
      }
    }
    a {
      text-decoration: underline;
    }
  }
}
.promo {
  background: url('../img/promo-bg.png') repeat-x -400px 0;
  margin: 0 0 83px 0;
  .main {
    height: 250px;
    align-items: flex-end;
    display: flex;
  }
  h1 {
    color: @elements-color;
    font: 46px/1.2 @secondary-font;
    background: @deco-color;
    padding: 30px 40px 30px 40px;
    margin: 0;
  }
}
.partners {
  &__items {
    margin: 0 30px 0 0;
    display: inline-block;
	vertical-align: top;
  }
}
.footer {
  color: @elements-color;
  background: @mine-shaft;
  padding: 52px 0 0 0;
  flex: none;
  h4 {
    font: 14px/1.2 @primary-font;
    padding: 0 0 10px 0;
  }
  &__copy {
    font: 14px/1.2 @primary-font;
    background: lighten(@black, 12%);
    padding: 23px 0;
    margin: 32px 0 0 0;
	a{
	  color: @elements-color;
	  text-decoration:underline;
	}
  }
}
.btn {
  text-decoration: none;
  transition: all @primary-transition;
  align-items: center;
  display: inline-flex;
  &--regular {
    color: @elements-color;
    font: bold 20px/1.2 @primary-font;
    background: @secondary-deco-color;
    padding: 16px 50px;
    &:hover {
      background: darken(@secondary-deco-color, 15%);
    }
  }
}
.cookies {
  color: @elements-color;
  background: @black;
  padding: 12px 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  .main {
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  .btn {
    font-size: 13px;
    padding: 12px 38px;
    margin: 0 0 0 20px;
  }
}
input:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not(.site_search__input),
textarea {
  width: 100%;
  color: @text-color;
  font: 12px @primary-font;
  transition: border @primary-transition;
  border: 1px solid @border-color;
  border-radius: 0;
  padding: 5px;
}
textarea {
  height: 150px;
  resize: none;
  display: block;
}
input:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="reset"]):not([type="submit"])::placeholder,
textarea::placeholder {
  color: fade(@secondary-text-color, 50%) !important;
  opacity: 1;
}
input:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="reset"]):not([type="submit"]):focus::placeholder,
textarea:focus::placeholder {
  color: transparent !important;
}
input.error:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="reset"]):not([type="submit"]),
textarea.error {
  border: 1px solid @error !important;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.clearfix:after,
.clear {
  height: 0;
  content: "";
  clear: both;
  display: table;
}
.visually-hidden {
  position: absolute;
  top: auto;
  left: -99999px;
}
.bottom-arrows{
  position: relative;
  text-align: center;
  margin-top: 25px;
  a{
	text-decoration:none;
	position: relative;
  }
}
figure figure.containerZoom{
	border:0;
	box-shadow:none;
	margin:0;
}
.share{
	position: absolute;
    bottom: 0;
    left: 0;
	opacity:0;
	#sharing-buttons{
		margin-left: -50%;
		max-width: 100%;
		height:100%;
		background: #fff;
		margin-bottom: -100%;
		padding:10px 10px 5px;
		li{
			padding:0;
			&:before{
				content:none;
			}
			a{
				display:inline-flex;
				white-space: nowrap;
			}
		}
	}
}
.share-link{
	position:relative;
	margin-left: auto;
	color: #A91919;
    font-weight: 600;
	&:hover{
		color: #d86449;
		.share{
			opacity:1;
		}
	}
}
// imports bottom
@import (less) "tablet.less";
@import (less) "mobile.less";
