@media (min-width: @tablet-min) and (max-width: @tablet-max) {
  .header {
    &__body {
      padding: 30px 20px;
    }
  }
  .nav {
    &_bottom {
      margin: 0;
      &__items {
        border: none;
        padding: 0 0 10px 0;
        clear: right;
        float: right;
        &:last-child {
          padding: 0;
        }
      }
    }
  }
  .site {
    &_logo {
      &__big {
        font: bold 28px/1 @secondary-font;
        padding: 5px 0 0 0;
      }
    }
    &_search {
      min-width: 280px;
    }
  }
  .story {
    &_list {
      margin: 0 -8px 50px -8px;
      &__items {
        width: ~"calc(33.333% - 16px)";
        margin: 0 8px 16px 8px;
      }
    }
  }
}
