h1,
.h1 {
  font: bold 50px/1.2 @secondary-font;
  margin: 0 0 50px 0;
  @media (max-width: @mobile-max) {
    font-size: 38px;
  }
}
h2,
.h2 {
  font: bold 36px/1.1 @secondary-font;
  margin: 0 0 25px 0;
  @media (max-width: @mobile-max) {
    font-size: 26px;
  }
}
h3,
.h3 {
  font: bold 21px/1.34 @secondary-font;
  margin: 0 0 23px 0;
}
.h-deco {
  font: 30px/1.1 @secondary-font;
  border-left: 9px solid darken(@secondary-deco-color, 12%);
  padding: 11px 0 11px 10px;
  margin: 0 0 50px 0;
  @media (max-width: @mobile-max) {
    font-size: 26px;
  }
}
ul,
ol {
  &:not([class]) {
    font: 15px/1.3 @primary-font;
    text-align: left;
    padding: 0 0 15px 0;
    li {
      padding: 0 0 10px 15px;
      position: relative;
      &:before {
        position: absolute;
        left: 0;
      }
    }
  }
}
ul {
  &:not([class]) {
    li {
      &:before {
        width: 5px;
        height: 5px;
        content: "";
        background: @text-color;
        border-radius: 50%;
        top: 8px;
      }
    }
  }
}
ol {
  &:not([class]) {
    counter-reset: li;
    flex-flow: column nowrap;
    display: flex;
    li {
      &:before {
        font-weight: bold;
        content: counter(li) ".";
        counter-increment: li;
        top: 0;
      }
    }
  }
}
p {
  font: 15px/1.4 @primary-font;
  padding: 0 0 15px 0;
}
a {
  &:not([class]) {
    color: @text-color;
    text-decoration: none;
    transition: color @primary-transition;
    &:hover {
      color: @secondary-deco-color;
    }
  }
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
