<?php
$translate = $this->plugin('translate');
if(empty($_SESSION["lang"])){
	$lang = 'lt';
}else{
	$lang = $_SESSION["lang"];
}
?>
<?php foreach($attachments as $attachment): ?>
    <?php $item = $attachment->item(); ?>
    <?php if (empty($item)) continue; ?>
		<?php if($item->media()): ?>
			<?php
			if(count($item->media()>1)){ ?>
				<div class="content__gallery content-gallery-js" itemscope itemtype="http://schema.org/ImageGallery" data-aos="fade-up">
			<?php }
			foreach ($item->media() as $media): 
				if(count($item->media()>1)){ ?>
					<div class="content__gallery__panels">
				<?php }
				$titles = $media->value('dcterms:title', ['all' => true]);
				list($width, $height) = getimagesize($media->originalUrl());
				foreach($titles as $langtitle){
					if(empty($langtitle->lang()) && $_SESSION['lang']=='lt' || strtolower($langtitle->lang())==$_SESSION['lang']){
						$title = $langtitle->asHtml();
					}
				}
				if(!empty($title)){ ?>
					<?php if(substr($media->mediaType(), 0, 5)=='video'){ ?>
						<figure class="content__image" data-aos="fade-up">
							<video controls>
							  <source src="<?php echo $media->originalUrl(); ?>" type="<?php echo $media->mediaType(); ?>">
							Your browser does not support the video tag.
							</video>
							<figcaption><?php echo $title; ?></figcaption>
						</figure>
					<?php }else{ ?>
						<div class="imageZoom-js" itemscope itemtype="http://schema.org/ImageGallery">
							<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
							<a href="<?php echo $media->originalUrl(); ?>" itemprop="contentUrl" data-size="<?php echo $width.'x'.$height; ?>">
							<?php echo $this->thumbnail($media, 'large', ['title' => $item->title(), 'class' => 'content__image', 'alt' => $item->title(), ]); ?>
							</a>
							<figcaption><?php echo $title; ?></figcaption>
							</figure>
						</div>
					<?php } ?>
				<?php }else{ ?>
					<?php if(substr($media->mediaType(), 0, 5)=='video'){ ?>
						<video controls class="content__image" data-aos="fade-up">
						  <source src="<?php echo $media->originalUrl(); ?>" type="<?php echo $media->mediaType(); ?>">
						Your browser does not support the video tag.
						</video>
					<?php }else{ ?>
						<div class="imageZoom-js" itemscope itemtype="http://schema.org/ImageGallery">
							<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
							<a href="<?php echo $media->originalUrl(); ?>" itemprop="contentUrl" data-size="<?php echo $width.'x'.$height; ?>">
							<?php echo $this->thumbnail($media, 'large', ['title' => $item->title(), 'class' => 'content__image', 'alt' => $item->title(), ]); ?>
							</a>
							</figure>
						</div>
					<?php } ?>
				<?php }
				if(count($item->media()>1)){ ?>
					</div>
				<?php }
			endforeach;
			if(count($item->media()>1)){ ?>
				</div>
			<?php } ?>
		<?php endif; ?>
		
		<div class="content__info" data-aos="fade-up">
		<div class="content__info__wrap">
		<?php 
		$translate = $this->plugin('translate');
		$escape = $this->plugin('escapeHtml');
		$labelInfo = $this->setting('property_label_information');
		$reiksmes = array();
		$fulllink = array();
		?>
		<?php foreach ($item->values() as $term => $propertyData): ?>
				<?php foreach ($propertyData['values'] as $value): ?>
					<?php
					$valueType = $value->type();
					$class = ['value'];
					if ('resource' == $valueType || strpos($valueType, 'resource') !== false) {
						$class[] = 'resource';
						$class[] = $escape($value->valueResource()->resourceName());
					} elseif ('uri' == $valueType) {
						$class[] = 'uri';
					}
					if (!$value->isPublic()) {
						$class[] = 'private';
					}
					if($value->property()->id()==10 || $value->property()->id()==47){
						if($value->property()->id()==10){
							$fulllink[] = $value->asHtml();
						}else{
							$teise = $value->asHtml();
						}
					}else{
						if(empty($value->lang()) && $lang=='lt' || strtolower($value->lang())==$lang)
						$reiksmes[$value->property()->id()] = $value->asHtml();
					}
				endforeach; ?>
		<?php endforeach; ?>
		<?php foreach($reiksmes as $key => $reiksme){ ?>
			<?php if($key==1){ ?>
				<?php if(!empty($fulllink)){ ?>
					<a href="<?php echo $fulllink[0]; ?>" target="_blank">
				<?php } ?>
				<strong>
			<?php } ?>

			<?php echo $reiksme; ?>
			
			<?php if($key==1){ ?>
				</strong></br>
				<?php if(!empty($fulllink)){ ?>
					</a>
				<?php } ?>
			<?php } ?>
			</br>
		<?php } ?>
		</div>
		<div class="content__info__wrap">
			<?php if(!empty($teise)){ ?>
				<?php echo $teise; ?></br>
			<?php } ?>
			<?php if(!empty($fulllink)){
				foreach($fulllink as $fkey => $flink){ ?>
				<a href="<?php echo $flink; ?>" target="_blank" style="white-space:nowrap;">Peržiūrėti objektą <?php if($fkey>0){ ?>(<?php echo $fkey+1;?>)<?php } ?></a>
			<?php }
				} ?>
		</div>
		</div>
<?php endforeach; ?>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
        <button class="pswp__button pswp__button--share" title="Share"></button>
        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
      </button>
      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
      </button>
      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>

