<?php
$i=0;
$view = $this;
if(!empty($_GET['lang'])){
	$clang = $_GET['lang'];
}else if(!empty($_SESSION['lang'])){
	$clang = $_SESSION['lang'];
}else{
	$clang = 'lt';
}
usort($sites, function($a, $b) use ($view) {
    $themeSettingsA = $view->siteSetting('theme_settings_' . $a->theme(), null, $a->id());
	if(empty($themeSettingsA["dataof"])){
		$themeSettingsA["dataof"] = 0;
	}
	$themeSettingsB = $view->siteSetting('theme_settings_' . $b->theme(), null, $b->id());
	if(empty($themeSettingsB["dataof"])){
		$themeSettingsB["dataof"] = 0;
	}
	return ($themeSettingsA["dataof"] >= $themeSettingsB["dataof"]) ? -1 : 1;
});

?>
</div>
</div>
        <?php
        foreach($sites as $site):
			$summary = $summaries ? $site->summary() : null;

			$themeSettings = $this->siteSetting('theme_settings_' . $site->theme(), null, $site->id());
			
			if($themeSettings['lang']!=$clang){
				continue;
			}
			
			$itemCount = 0;
			foreach($site->linkedPages() as $key=>$page){
				foreach($page->blocks() as $block){
					if($block->layout()=='itemWithMetadata'){
						$itemCount += count($block->attachments());
					}
				}
			}

			try {
				$response = $this->api()->read('assets', $themeSettings['logo']);
				$logoUrl = $response->getContent()->assetUrl();
			} catch (Omeka\Api\Exception\NotFoundException $e) {
				$logoUrl = null;
			}
			if(++$i==1){ ?>
				<div class="story_promo" style="background: url(<?php echo $logoUrl; ?>) no-repeat;">
				  <div class="main clearfix">
					<div class="story_promo__text">
					  <div class="story_list__tags clearfix">
						<div class="story_list__tags__themes"><?php echo count($site->linkedPages()); ?><span class="story_list__tags__txt"><?php echo ($clang=='en') ? 'Themes' : 'Temos'; ?></span></div>
						<div class="story_list__tags__objects"><?php echo $itemCount; ?><span class="story_list__tags__txt"><?php echo ($clang=='en') ? 'Objects' : 'Objektai'; ?></span></div>
					  </div>
					  <?php if(!empty($themeSettings['dataof'])){ ?>
						<span class="story_list__date"><?php echo $themeSettings['dataof']; ?></span>
					  <?php } ?>
					  <h3><a href="<?php echo $site->siteUrl(); ?>"><?php echo $site->title(); ?></a></h3>
					  <?php if(!empty($themeSettings['description'])){ ?>
						<p><?php echo $themeSettings['description']; ?></p>
					  <?php } ?>
					  <p><a href="<?php echo $site->siteUrl(); ?>" class="story_rows__more" aria-label="Plačiau"><i aria-hidden="true" class="icon-arrow-right"></i></a></p>
					</div>
				  </div>
				</div>
			<?php }else if($i==2 || $i==3){
				if($i==2){ ?>
					<div class="main clearfix">
						<ul class="story_rows">
				<?php } ?>
					<li class="story_rows__items">
					  <a href="<?php echo $site->siteUrl(); ?>" class="story_rows__image"><img src="<?php echo $logoUrl; ?>" alt=""></a>
					  <div class="story_rows__text">
						<div class="story_list__tags clearfix">
						  <div class="story_list__tags__themes"><?php echo count($site->linkedPages()); ?><span class="story_list__tags__txt"><?php echo ($clang=='en') ? 'Themes' : 'Temos'; ?></span></div>
						  <div class="story_list__tags__objects"><?php echo $itemCount; ?><span class="story_list__tags__txt"><?php echo ($clang=='en') ? 'Objects' : 'Objektai'; ?></span></div>
						</div>
						<?php if(!empty($themeSettings['dataof'])){ ?>
							<span class="story_list__date"><?php echo $themeSettings['dataof']; ?></span>
					    <?php } ?>
						<h3><a href="<?php echo $site->siteUrl(); ?>"><?php echo $site->title(); ?></a></h3>
						<?php if(!empty($themeSettings['description'])){ ?>
							<p><?php echo $themeSettings['description']; ?></p>
						<?php } ?>
						<p><a href="<?php echo $site->siteUrl(); ?>" class="story_rows__more" aria-label="Plačiau"><i aria-hidden="true" class="icon-arrow-right"></i></a></p>
					  </div>
					</li>
				<?php if($i==3 || count($sites)<3){ ?>
					</ul>
				<?php } ?>
			<?php }else{
				if($i==4){ ?>
					<h2 class="h-deco">Visos virtualios parodos</h2>
					<ul class="story_list">
				<?php } ?>
				<li class="story_list__items">
					<a href="<?php echo $site->siteUrl(); ?>" class="story_list__image"><img src="<?php echo $logoUrl; ?>" alt=""></a>
					<div class="story_list__text clearfix">
					  <div class="story_list__tags clearfix">
						<div class="story_list__tags__themes"><?php echo count($site->linkedPages()); ?><span class="story_list__tags__txt"><?php echo ($clang=='en') ? 'Themes' : 'Temos'; ?></span></div>
						<div class="story_list__tags__objects"><?php echo $itemCount; ?><span class="story_list__tags__txt"><?php echo ($clang=='en') ? 'Objects' : 'Objektai'; ?></span></div>
					  </div>
						<?php if(!empty($themeSettings['dataof'])){ ?>
							<span class="story_list__date"><?php echo $themeSettings['dataof']; ?></span>
					    <?php } ?>
					  <h3><a href="<?php echo $site->siteUrl(); ?>"><?php echo $site->title(); ?></a></h3>
					</div>
				</li>
				<?php if($i==count($sites)){ ?>
					</ul>
				<?php } ?>
			<?php
			}
        endforeach;
        ?>
    <?php
    if ($pagination): ?>
		<div class="main clearfix" style="text-align:center;">
			<a href="/?search=1" class="btn btn--regular">Rodyti daugiau</a>
		</div>
    <?php endif;
    ?>
</div>
