<?php
$this->htmlElement('body')->appendAttribute('class', 'archive-folder edit');
$pageTitle = $this->translate('Add a new folder to archive');

echo $this->pageTitle($pageTitle);
?>

<?php echo $this->form()->openTag($form); ?>
<div id="page-actions">
    <button><?php echo $this->translate('Save'); ?></button>
</div>

<p>
    <?php echo $this->translate('Fill infos about the folder to prepare.'); ?>
</p>

<p>
    <?php echo $this->translate('Currently, these parameters are not editable once saved, but they can be deleted and rebuilt easily.'); ?>
</p>

<p>
    <?php echo $this->translate('Note:'); ?>
    <?php echo $this->translate('An item can have multiple files, and items and files can have different metadata.'); ?>
    <?php echo $this->translate('For example, a record of a book can have each digitalized page attached to it.'); ?>
    <?php echo $this->translate('An object can have multiple pictures under different views or taken by different photographers.'); ?>
    <?php echo $this->translate('In that case, it is recommended to separate the metadata, for example to add data about each page or the different authors of the view.'); ?>
    <?php echo $this->translate("Conversely, an image of a paint, a photography, or a book digitalized as a pdf and e-book files doesn't need to have separate records."); ?>
</p>

<?php echo $this->formCollection($form, false); ?>
<?php echo $this->form()->closeTag(); ?>
