<?php
$totalRecords = $paginator->getTotalCount();
$pageTitle = sprintf($this->translate('Archive Folders (%d total)'), $totalRecords);
$this->headScript()->appendFile($this->assetUrl('js/archive-folder-browse.js', 'ArchiveFolder'));
$this->headLink()->appendStylesheet($this->assetUrl('css/archive-folder.css', 'ArchiveFolder'));
$this->htmlElement('body')
    ->appendAttribute('class', 'archive-folder')
    ->appendAttribute('class', 'browse');
?>

<?php echo $this->pageTitle($pageTitle); ?>

<div id="page-actions">
    <?php if ($this->userIsAllowed('ArchiveFolder\Controller\Index', 'add')): ?>
        <?php echo $this->hyperlink($this->translate('Add new archive folder'), $this->url(null, ['action' => 'add'], true), ['class' => 'button']); ?>
    <?php endif; ?>
</div>

<h2><?php echo $this->translate('Status of Archive Folders'); ?></h2>

<?php echo $this->partial('archive-folder/common/quick-filters'); ?>

<?php if (count($folders)): ?>
    <form action="<?php echo $this->url(null, ['action' => 'batch-edit'], true); ?>" method="post" accept-charset="utf-8">
        <div class="table-actions batch-edit-option">
            <?php if ($this->userIsAllowed('ArchiveFolder\Controller\Index', 'edit')): ?>
                <input type="submit" class="small green batch-action button" name="submit-batch-check" value="<?php echo $this->translate('Check'); ?>">
                <input type="submit" class="small green batch-action button" name="submit-batch-process" value="<?php echo $this->translate('Process'); ?>">
            <?php endif; ?>
            <?php
                $actionUri = $this->url(null, ['action' => 'browse'], true);
                $action = $this->translate('Refresh page');
            ?>
            <?php echo $this->hyperlink($action, $actionUri, ['class' => 'button']); ?>

            <?php if ($this->userIsAllowed('ArchiveFolder\Controller\Index', 'delete')): ?>
                <input type="submit" class="small red batch-actiorran button" name="submit-batch-delete" value="<?php echo $this->translate('Delete'); ?>">
            <?php endif; ?>
        </div>

        <?php echo $this->pagination(); ?>

        <?php
            $sortHeadings = [
                [
                    'label' => $this->translate('Folder'),
                    'value' => 'uri',
                ],
                [
                    'label' => $this->translate('Folder status'),
                    'value' => 'status',
                ],
                [
                    'label' => $this->translate('Last modified'),
                    'value' => 'modified',
                ],
            ];
        ?>
        <?php echo $this->sortSelector($sortHeadings); ?>

        <table id="archive-folders">
            <thead>
                <tr>
                    <?php if ($this->userIsAllowed('ArchiveFolder\Controller\Index', 'edit')): ?>
                        <th class="batch-edit-heading"></th>
                    <?php endif; ?>
                    <th><?php echo $this->translate('Folder'); ?></th>
                    <th><?php echo $this->translate('Folder status'); ?></th>
                    <th><?php echo $this->translate('Action'); ?></th>
                    <th><?php echo $this->translate('Last modified'); ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($folders as $folder): ?>
                <tr class="archive-folder">
                    <?php if ($this->userIsAllowed('ArchiveFolder\Controller\Index', 'edit')): ?>
                        <td class="batch-edit-check" id="archive-folder-<?php echo $folder->id(); ?>">
                            <input type="checkbox" name="folders[]" value="<?php echo $folder->id(); ?>" />
                        </td>
                    <?php endif; ?>
                    <td>
                        <?php echo $this->escapeHtml($folder->uri()); ?>
                        <br />
                        <?php if (empty($folder->messages())): ?>
                            <div class="details">
                                <?php echo $this->translate('No message'); ?>
                            </div>
                        <?php else: ?>
                            <ul class="action-links group">
                                <li>
                                    <a href="#" class="archive-folder-details"><?php echo $this->translate('Last Messages'); ?></a>
                                </li>
                                <li>
                                    <a href="<?php echo $this->url('archivefolder_index', ['action' => 'logs'], ['id' => $folder->id()]); ?>"><?php echo $this->translate('All Messages'); ?></a>
                                </li>
                            </ul>
                            <div class="details" style="display: none;">
                                <?php echo nl2br(str_replace(']', "]\n", substr($folder->messages(), -1000))); ?>
                            </div>
                            <div class="last-message" style="display: auto;">
                                <?php
                                    $pos = strrpos($folder->messages(), PHP_EOL . '[');
                                    echo $pos ? nl2br(substr($folder->messages(), $pos + 1)) : $folder->messages();
                                ?>
                            </div>
                        <?php endif; ?>
                    </td>
                    <td>
                        <?php echo $this->partial('archive-folder/common/archive-folder-status', ['folder' => $folder]); ?>
                    </td>
                    <td>
                    <?php
                        switch ($folder->status()):
                            case ArchiveFolder\Entity\Folder::STATUS_QUEUED:
                            case ArchiveFolder\Entity\Folder::STATUS_PROGRESS:
                                $actionUri = $this->url('archivefolder_index',
                                    ['action' => 'stop'],
                                    ['query' => ['id' => $folder->id]]);
                                $action = $this->translate('Stop');
                                echo $this->hyperlink($action, $actionUri,
                                    ['class' => 'stop button blue']);

                                $actionUri = $this->url('archivefolder_index',
                                    ['action' => 'browse']);
                                $action = $this->translate('Refresh page');
                                echo $this->hyperlink($action, $actionUri,
                                    ['class' => 'refresh button blue']);
                                break;

                            case ArchiveFolder\Entity\Folder::STATUS_ADDED:
                            case ArchiveFolder\Entity\Folder::STATUS_RESET:
                            case ArchiveFolder\Entity\Folder::STATUS_PAUSED:
                            case ArchiveFolder\Entity\Folder::STATUS_STOPPED:
                            case ArchiveFolder\Entity\Folder::STATUS_KILLED:
                            case ArchiveFolder\Entity\Folder::STATUS_COMPLETED:
                            case ArchiveFolder\Entity\Folder::STATUS_DELETED:
                            case ArchiveFolder\Entity\Folder::STATUS_ERROR:
                            default:

                                 if ($this->userIsAllowed('ArchiveFolder\Controller\Index', 'edit')):
                                    $actionUri = $this->url('archivefolder_index',
                                        ['action' => 'check'],
                                        ['query' => ['id' => $folder->id()]]);
                                    $action = $this->translate('Check');
                                    echo $this->hyperlink($action, $actionUri,
                                        ['class' => 'check button green']);

                                    $actionUri = $this->url('archivefolder_index',
                                        ['action' => 'process'],
                                        ['query' => ['id' => $folder->id()]]);
                                    $action = $this->translate('Process');
                                    echo $this->hyperlink($action, $actionUri,
                                        ['class' => 'process button green']);

                                    if (!in_array($folder->status(), [ArchiveFolder\Entity\Folder::STATUS_ADDED, ArchiveFolder\Entity\Folder::STATUS_COMPLETED])):
                                        $actionUri = $this->url('archivefolder_index',
                                            ['action' => 'reset-status'],
                                            ['query' => ['id' => $folder->id()]]);
                                        $action = $this->translate('Reset status');
                                        echo $this->hyperlink($action, $actionUri,
                                            ['class' => 'reset-status button green']);
                                    endif;
                                endif;

                                if ($this->userIsAllowed('ArchiveFolder\Controller\Index', 'delete')):
                                    $actionUri = $this->url('archivefolder_index',
                                        ['action' => 'delete-confirm'],
                                        ['query' => ['id' => $folder->id()]]);
                                    $action = $this->translate('Delete');
                                    echo $this->hyperlink($action, $actionUri,
                                        ['class' => 'delete-confirm button red']);
                                endif;

                        endswitch;
                    ?>
                    </td>
                    <td><?php echo $this->i18n()->dateFormat($folder->modified(), 'short', 'short'); ?></td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>

        <?php echo $this->pagination(); ?>

    </form>
    <script type="text/javascript">
        Omeka.messages = jQuery.extend(Omeka.messages,
            {'archiveFolder':{
                'confirmation':<?php echo json_encode($this->translate('Are your sure to remove these folders?')); ?>
            }}
        );
        Omeka.addReadyCallback(Omeka.ArchiveFolderBrowse.setupBatchEdit);
    </script>
<?php else: ?>
    <?php if ($totalRecords): ?>
        <p><?php echo $this->translate('The query searched %s records and returned no results.', $totalRecords); ?></p>
        <p><a href="<?php echo url('archive-folder/index/browse'); ?>"><?php echo $this->translate('See all folders.'); ?></a></p>
    <?php else: ?>
        <p><?php echo $this->translate('No url or path have been checked or exposed.'); ?></p>
    <?php endif; ?>
<?php endif; ?>
