<?php
if(!empty($_GET['lang'])) {
    $_SESSION['lang'] = $_GET['lang'];
}
if(empty($_SESSION['lang'])){
	$_SESSION['lang'] = 'lt';
}
$escape = $this->plugin('escapeHtml');
$this->htmlElement('html')->setAttribute('lang', $this->lang());
$this->headMeta()->setCharset('utf-8');
$this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1');
$this->headTitle($this->setting('installation_title', 'Omeka S'))->setSeparator(' · ');
$this->headLink()->prependStylesheet($this->assetUrl('css/style.css'));
$this->headLink()->prependStylesheet($this->assetUrl('css/iconfonts.css', 'Omeka'));
$this->headLink()->prependStylesheet('//fonts.googleapis.com/css?family=Archivo+Black|Assistant:200,300,400');
$this->headScript()->prependFile($this->assetUrl('js/main.min.js'));
$this->headScript()->prependFile($this->assetUrl('js/global.js', 'Omeka'));
$this->headScript()->prependFile($this->assetUrl('vendor/jquery/jquery.min.js', 'Omeka'));
$userBar = $this->partial('common/user-bar', ['site' => $site]);
$this->trigger('view.layout');
$nav = $site->publicNav();
$container = $nav->getContainer();
$activePage = $nav->findActive($container);
if(!empty($activePage)){
	$currentPage = $activePage['page']->getParams()['page-slug'];
	$cPage = $this->api()->read('site_pages', [
            'slug' => $currentPage,
            'site' => $site->id(),
        ])->getContent();
	//var_dump($cPage->getAttachments());die;
}else{
	$params = $this->params();
	if(!empty($params->fromRoute()['page-slug'])){
		$currentPage = $params->fromRoute()['page-slug'];
		$cPage = $this->api()->read('site_pages', [
            'slug' => $currentPage,
            'site' => $site->id(),
        ])->getContent();
	}
}
try {
    $defaultSiteResponse = $this->api()->read('sites', 1);
    $defaultSite = $defaultSiteResponse->getContent();
	$themeSettings = $this->siteSetting('theme_settings_' . $defaultSite->theme(), null, $defaultSite->id());
	if(!empty($_SESSION['lang']) && $_SESSION['lang']=='en'){
		$menuSiteResponse = $this->api()->read('sites', $themeSettings['en']);
		$menuSite = $menuSiteResponse->getContent();
	}else{
		$menuSite = $defaultSite;
	}
} catch (ApiException\NotFoundException $e) {
    // Consume error if default site isn't found
}
//var_dump($this->params()->fromQuery());die;
//$Sresponse = $this->api()->search('sites', array('fulltext_search'=>'kurtai'))->getContent();
//var_dump($Sresponse);die;
//foreach($Sresponse as $Sr){
//	var_dump($Sr->title());
//}die;
?>
<?php echo $this->doctype(); ?>
<?php echo $this->htmlElement('html'); ?>
    <head>
        <?php echo $this->headMeta(); ?>
        <?php echo $this->headTitle(); ?>
        <?php echo $this->headLink(); ?>
        <?php echo $this->headStyle(); ?>
        <?php echo $this->headScript(); ?>
    </head>

    <?php echo $this->htmlElement('body'); ?>
        <header>
		
			<div class="header__top clearfix">

			  <nav class="nav_top">
				<ul class="clearfix">
					<?php foreach($menuSite->navigation() as $nav){
						if($nav["data"]["url"]=='footer'){
							foreach($nav["links"] as $links){
								$footerNavIds[] = $links["data"]["id"];
							}
							break;
						}
					} ?>
					<?php foreach($menuSite->linkedPages() as $key=>$page){ ?>
						<?php if($key!=1 && $page->slug()!='footer' && !in_array($page->id(), $footerNavIds)){ ?>
						<li class="nav_top__items"><a href="<?php echo $page->siteUrl(); ?>" class="nav_top__links"><?php echo $page->title(); ?></a></li>
						<?php }else if(in_array($page->id(), $footerNavIds)){
							$footerNav[] = $page;
						} ?>
					<?php } ?>
					
					<?php if(empty($_SESSION['lang']) || $_SESSION['lang']=='lt'){ ?>
						<li class="nav_top__items"><a href="/?lang=en" class="nav_top__links">English</a></li>
					<?php }else{ ?>
						<li class="nav_top__items"><a href="/?lang=lt" class="nav_top__links">Lietuvių</a></li>
					<?php } ?>

				</ul>
			  </nav>

			</div>

			<div class="header__body">

			  <a href="/" class="site_logo" aria-label="Vrublevskis.lt logo">
					<img src="<?php echo $this->assetUrl('img/logo.png'); ?>" alt="">
				<div class="clearfix">
				  <span class="site_logo__small"><?php echo ($_SESSION['lang']=='en') ? 'The Wroblewski Library of the Lithuanian Academy of Sciences:' : 'Lietuvos mokslų akademijos Vrublevskių bibliotekos'; ?> </span>
				  <span class="site_logo__big"><?php echo ($_SESSION['lang']=='en') ? 'Virtual Tales' : 'Virtualūs pasakojimai'; ?></span>
				</div>
			  </a>

			  <?php echo $this->partial('common/search-form'); ?>

			</div>
        </header>

		<?php if(!empty($_GET['search'])){
			$allSites = $this->api()->search('sites', array('limit' => 999))->getContent();
			$filteredSites = array();
			$view = $this;
			
			if($_GET['search']!=1){
				foreach($allSites as $Sr){
					if (stripos($Sr->title(), $_GET['search']) !== false) {
						$filteredSites[] = $Sr;
					}
				}
			}else{
				$filteredSites = $allSites;
			}

			usort($filteredSites, function($a, $b) use ($view) {
				$themeSettingsA = $view->siteSetting('theme_settings_' . $a->theme(), null, $a->id());
				if(empty($themeSettingsA["dataof"])){
					$themeSettingsA["dataof"] = 0;
				}
				$themeSettingsB = $view->siteSetting('theme_settings_' . $b->theme(), null, $b->id());
				if(empty($themeSettingsB["dataof"])){
					$themeSettingsB["dataof"] = 0;
				}
				return ($themeSettingsA["dataof"] >= $themeSettingsB["dataof"]) ? -1 : 1;
			});
			?>
			
			<main class="body">

				<div class="promo">
				<?php if($_GET['search']!=1){ ?>
					  <div class="main">
						<h1><?php echo ($_SESSION['lang']=='en') ? 'Search results' : 'Paieškos rezultatai'; ?></h1>
					  </div>
				<?php } ?>
				</div>

				<div class="main clearfix">

				  <ul class="story_list">
				  
					<?php foreach($filteredSites as $fSite){
						$themeSettings = $this->siteSetting('theme_settings_' . $fSite->theme(), null, $fSite->id());
						$clang = $_SESSION['lang'];
						if(empty($clang)){
							$clang = 'lt';
						}
						if($themeSettings['lang']!=$clang){
							continue;
						}

						try {
							$response = $this->api()->read('assets', $themeSettings['logo']);
							$logoUrl = $response->getContent()->assetUrl();
						} catch (Omeka\Api\Exception\NotFoundException $e) {
							$logoUrl = null;
						}
						?>
					<li class="story_list__items">
						<a href="<?php echo $fSite->siteUrl(); ?>" class="story_list__image"><img src="<?php echo $logoUrl; ?>" alt=""></a>
						<div class="story_list__text clearfix">
						  <div class="story_list__tags clearfix">
							<div class="story_list__tags__themes"><?php echo count($fSite->linkedPages()); ?><span class="story_list__tags__txt"><?php echo ($_SESSION['lang']=='en') ? 'Themes' : 'Temos'; ?></span></div>
							<div class="story_list__tags__objects"><?php echo $fSite->itemCount(); ?><span class="story_list__tags__txt"><?php echo ($_SESSION['lang']=='en') ? 'Objects' : 'Objektai'; ?></span></div>
						  </div>
							<?php if(!empty($themeSettings['dataof'])){ ?>
								<span class="story_list__date"><?php echo $themeSettings['dataof']; ?></span>
							<?php } ?>
						  <h3><a href="<?php echo $fSite->siteUrl(); ?>"><?php echo $fSite->title(); ?></a></h3>
						</div>
					</li>
					<?php } ?>
				  </ul>

				</div>

			 </main>
		<?php }elseif(($defaultSite->slug()!=$site->slug() && $menuSite->slug()!=$site->slug()) && empty($activePage)){ ?>
        <main class="body body--cover" style="background: url('<?php echo $this->themeSettingAssetUrl('logo'); ?>') no-repeat center 40px;">
				<div class="site_helpers clearfix">
				  <div class="main">
					<ul class="breadcrumb clearfix">
					  <li class="breadcrumb__items"><a href="/" class="breadcrumb__links"><?php echo ($_SESSION['lang']=='en') ? 'Home' : 'Pradžia'; ?></a></li>
					  <li class="breadcrumb__items"><?php echo $site->title(); ?></li>
					</ul>
				  </div>
				</div>
				
				<div class="main clearfix">
					<span class="cover_title">Virtuali paroda</span>
					<h1><?php echo $site->title(); ?></h1>
					<a href="<?php echo reset($site->linkedPages())->url(); ?>" class="btn btn--regular"><?php echo ($_SESSION['lang']=='en') ? 'Begin' : 'Pradėti peržiūrą'; ?></a>
				</div>
				<div class="cover_slider clearfix cover-slider-js">
				<?php foreach($site->linkedPages() as $key=>$page){ ?>
					<?php 
						$thumbnail = '';
						foreach($page->blocks() as $block){
							foreach ($block->attachments() as $attachment){
								$item = $attachment->item();
								if ($item) {
									$itemId = $item->id();
									$title = $item->displayTitle();
								}

								$media = $attachment->media();
								if ($media) {
									$mediaId = $media->id();
								} else if ($item) {
									$media = $item->primaryMedia();
								}

								if ($media) {
									$thumbnail = $this->thumbnail($media, 'medium');
								}
								if(!empty($thumbnail)){
									break 2;
								}
							}
						}
					?>
				  <a href="<?php echo $page->url(); ?>" class="cover_slider__panels">
					<?php echo $thumbnail; ?>
					<h4><?php echo $page->title(); ?></h4>
				  </a>
				<?php } ?>
				</div>
				</main>
			<?php }elseif(($defaultSite->slug()!=$site->slug() && $menuSite->slug()!=$site->slug()) && !empty($activePage)){ ?>
			<main class="body">
				<div class="clearfix sticky-js">
				<div class="site_helpers clearfix">
				  <div class="main">
					<ul class="breadcrumb clearfix">
					  <li class="breadcrumb__items"><a href="/" class="breadcrumb__links"><?php echo ($_SESSION['lang']=='en') ? 'Home' : 'Pradžia'; ?></a></li>
					  <li class="breadcrumb__items"><a href="<?php echo $site->url(); ?>" class="breadcrumb__links"><?php echo $site->title(); ?></a></li>
					  <li class="breadcrumb__items"><?php echo $cPage->title(); ?></li>
					</ul>
					<?php $i=0;
					foreach($site->linkedPages() as $page){
						$i++;
						if($page->slug()==$currentPage){
							$ckey = $i;
						}
					} ?>

					<a href="#" class="share-link">
					  <span class="site_helpers__btn__hold">Dalintis</span>
					  <div class="share"></div>
					</a>
					<a href="#" class="site_helpers__btn topics-link-js">
					  <div class="story_list__tags__themes"><?php echo $ckey; ?><span class="story_list__tags__txt">Tema</span></div>
					  <span class="site_helpers__btn__hold">Rodyti temas<i aria-hidden="true" class="icon-navi"></i></span>
					</a>
				  </div>
				</div>
			
				<div class="topics topics-js">
				  <h3>Temos</h3>
				  <a href="#" class="topics__close topics-link-js"><i aria-hidden="true" class="icon-close"></i></a>
				  <div class="cover_slider clearfix cover-slider-js">
				  <?php $ccPage = false; ?>
				  <?php foreach($site->linkedPages() as $key=>$page){ ?>
						<?php 
							if(!empty($ccPage) && empty($nextPage)){
								$nextPage = $page->url();
							}
							if($page->id()==$cPage->id()){
								$ccPage = true;
							}
							if(empty($ccPage)){
								$previuosPage = $page->url();
							}
							$thumbnail = '';
							foreach($page->blocks() as $block){
								foreach ($block->attachments() as $attachment){
									$item = $attachment->item();
									if ($item) {
										$itemId = $item->id();
										$title = $item->displayTitle();
									}

									$media = $attachment->media();
									if ($media) {
										$mediaId = $media->id();
									} else if ($item) {
										$media = $item->primaryMedia();
									}

									if ($media) {
										$thumbnail = $this->thumbnail($media, 'medium');
									}
									if(!empty($thumbnail)){
										if($page->id()==$cPage->id()){
											if(!empty(next($block->attachments()))){
												$bg = next($block->attachments())->media()->thumbnailUrl('large');
											}
										}
										break 2;
									}
								}
							}
						?>
					  <a href="<?php echo $page->url(); ?>" class="cover_slider__panels">
						<?php echo $thumbnail; ?>
						<h4><?php echo $page->title(); ?></h4>
					  </a>
					<?php } ?>
				  </div>
				</div>
				</div>
				<?php			
					foreach($cPage->blocks() as $block){
						if($block->layout()=='itemWithMetadata'){
							$itemCount += count($block->attachments());
						}
					}
				?>
				<section class="content" <?php if(!empty($bg)){ ?>style="background: url('<?php echo $bg; ?>') no-repeat fixed center top;" <?php } ?>>
					<div class="main clearfix">
					<div class="content__block">
						<?php if(!empty($itemCount)){ ?>
							<div class="story_list__tags__objects fr"><?php echo $itemCount; ?><span class="story_list__tags__txt" style="font-size:9px;">Objektai(-ų)</span></div>
						<?php } ?>
						<?php echo $this->content; ?>
					</div>
				</div>
				<div class="bottom-arrows">
					<?php if(!empty($previuosPage)){ ?>
						<a href="<?php echo $previuosPage; ?>" class="slick-prev slick-arrow" aria-label="Previous" aria-disabled="true" style=""><i class="icon-slide-prev" aria-hidden="true"></i></a>
					<?php } ?>
					<?php if(!empty($nextPage)){ ?>
						<a href="<?php echo $nextPage; ?>" class="slick-next slick-arrow" aria-label="Next" style="" aria-disabled="false"><i class="icon-slide-next" aria-hidden="true"></i></a>
					<?php } ?>
				</div>
			</main>
			<?php }else{ ?>
			<main class="body">
				<?php if($site->slug()==$menuSite->slug() && !empty($currentPage)){
				foreach($cPage->blocks() as $block){
					foreach ($block->attachments() as $attachment){
						$item = $attachment->item();
					
						$media = $attachment->media();
						if ($media) {
							$mediaId = $media->id();
						} else if ($item) {
							$media = $item->primaryMedia();
						}

						if(!empty($block->attachments())){
							$bg = $block->attachments()[0]->media()->thumbnailUrl('large');
						}
						break 2;
					}
				}?>
				<div class="site_helpers clearfix">
				  <div class="main">
					<ul class="breadcrumb clearfix">
					  <li class="breadcrumb__items"><a href="/" class="breadcrumb__links"><?php echo ($_SESSION['lang']=='en') ? 'Home' : 'Pradžia'; ?></a></li>
					  <li class="breadcrumb__items"><?php echo $page->title(); ?></li>
					</ul>
				  </div>
				</div>
				<section class="content" <?php if(!empty($bg)){ ?>style="background: url('<?php echo $bg; ?>') no-repeat fixed center top;" <?php } ?>>
				<?php } ?>
					<div class="main clearfix">
						<?php echo $this->content; ?>
					</div>
				<?php if($site->slug()==$menuSite->slug() && !empty($currentPage)){ ?>
				</section>
				<?php } ?>
			</main>
			<?php } ?>
        <footer class="footer">
			<div class="main clearfix">

			  <nav class="nav_bottom">
				<ul class="clearfix">
					<?php if(!empty($footerNav)){
						foreach($footerNav as $page){ ?>
							<li class="nav_bottom__items"><a href="<?php echo $page->siteUrl(); ?>" class="nav_bottom__links"><?php echo $page->title(); ?></a></li>
						<?php }
					} ?>
				</ul>
			  </nav>

			  <nav class="nav_share">
				<ul class="list clearfix">
				  <li class="nav_share__items"><a href="https://www.instagram.com/vrublevskiu_biblioteka/" class="nav_share__links" target="_blank" aria-label="instagram"><i aria-hidden="true" class="icon-instagram"></i></a></li>
				  <li class="nav_share__items"><a href="https://www.facebook.com/VrublevskiuBiblioteka/" class="nav_share__links" target="_blank" -label="facebook"><i aria-hidden="true" class="icon-facebook"></i></a></li>
				  <li class="nav_share__items"><a href="https://www.youtube.com/c/Vrublevski%C5%B3biblioteka" class="nav_share__links" target="_blank" aria-label="youtube"><i aria-hidden="true" class="icon-youtube"></i></a></li>
				  <li class="nav_share__items"><a href="https://open.spotify.com/show/22WwVeKWI95LZ3junIFWI3" class="nav_share__links" target="_blank" aria-label="spotify"><i aria-hidden="true" class="icon-spotify"></i></a></li>
				</ul>
			  </nav>

			  <div class="clear"></div>

			  <ul class="partners clearfix">
				<li class="partners__items"><h4><?php if(!empty($_SESSION['lang']) && $_SESSION['lang']=='en'){ ?>The project is financed by the Lithuanian Council for Culture<?php }else{ ?>Projektą iš dalies finansuoja<?php } ?></h4><a href="https://www.ltkt.lt/<?php if(!empty($_SESSION['lang']) && $_SESSION['lang']=='en'){ ?>en<?php } ?>"><img src="<?php if(!empty($_SESSION['lang']) && $_SESSION['lang']=='en'){ echo $this->assetUrl('img/lkt-logo-en.png'); }else{ echo $this->assetUrl('img/lkt-logo.png'); } ?>" style="max-width:200px;" alt=""></a></li>
				<li class="partners__items"><h4><?php if(!empty($_SESSION['lang']) && $_SESSION['lang']=='en'){ ?>Partner<?php }else{ ?>Partneris<?php } ?></h4><a href="https://www.llvs.lt/<?php if(!empty($_SESSION['lang']) && $_SESSION['lang']=='en'){ ?>about-us<?php } ?>"><img src="<?php echo $this->assetUrl('img/llvs-logo.png'); ?>" alt=""></a></li>
			  </ul>

			</div>

			<div class="footer__copy">

			  <div class="main clearfix">
				<?php
				$menuSettings = $this->siteSetting('theme_settings_' . $menuSite->theme(), null, $menuSite->id());
				if ($footerContent = $menuSettings['footer']): ?>
				<?php echo $footerContent; ?>
				<?php else: ?>
					<?php echo $this->translate('Powered by Omeka S'); ?>
				<?php endif; ?>
			  </div>

			</div>
        </footer>
		<div class="cookies cookies-js">
		  <div class="main">
			Informuojame, kad šioje svetainėje statistikos ir rinkodaros tikslais naudojami slapukai (angl. Cookies). Jei sutinkate, spauskite mygtuką SUTINKU. <a href="#" class="btn btn--regular cookies-link-js">Sutinku</a>
		  </div>
		</div>
    </body>
</html>
