<fieldset id="fieldset-archive-folder-process">
    <legend><?php echo $this->translate('Process'); ?></legend>

    <div class="field">
        <?php
            $name = 'archive_folder_processor';
            $element = new Zend\Form\Element\Text($name);
            $element->setAttribute('id', $name);
            $element->setLabel($this->translate('Command of the processor'));
            $element->setValue($this->setting($name));
        ?>
        <div class="field-meta">
            <?php echo $this->formLabel($element); ?>

            <a href="#" class="expand"></a>
            <div class="collapsible">
                <div class="field-description">
                    <?php echo $this->translate('Command of the processor. Let empty to use the internal xslt processor of php.'); ?>
                    <?php echo $this->translate('This is required by some formats that need to parse a xslt 2 stylesheet.'); ?>
                    <?php echo $this->translate('See format of the command and examples in the readme.'); ?>
                </div>
            </div>
        </div>
        <div class="inputs">
            <?php echo $this->formText($element); ?>
        </div>
    </div>

    <div class="field">
        <?php
            $name = 'archive_folder_short_dispatcher';
            $element = new Zend\Form\Element\Checkbox($name);
            $element->setAttribute('id', $name);
            $element->setLabel($this->translate('Short Job Dispatcher'));
            $element->setValue($this->setting($name));
        ?>
        <div class="field-meta">
            <?php echo $this->formLabel($element); ?>

            <a href="#" class="expand"></a>
            <div class="collapsible">
                <div class="field-description">
                    <?php echo $this->translate('Processing a folder and import files is usually a long job.'); ?>
                    <?php echo $this->translate("Nevertheless, some configurations don't allow to process them."); ?>
                    <?php echo $this->translate("So, if checked, the short dispatcher will be used, but by default, servers limit them to about 30 seconds."); ?>
                </div>
            </div>
        </div>
        <div class="inputs">
            <?php echo $this->formCheckbox($element); ?>
        </div>
    </div>

    <div class="field">
        <?php
            $name = 'archive_folder_slow_process';
            $element = new Zend\Form\Element\Text($name);
            $element->setAttribute('id', $name);
            $element->setLabel($this->translate('Slow the process'));
            $element->setValue($this->setting($name));
        ?>
        <div class="field-meta">
            <?php echo $this->formLabel($element); ?>

            <a href="#" class="expand"></a>
            <div class="collapsible">
                <div class="field-description">
                    <?php echo $this->translate('Some providers check if too many files are uploaded in one shot and prevent the import.'); ?>
                    <?php echo $this->translate('This option sleeps the process during this number of seconds to avoid such a limit.'); ?>
                </div>
            </div>
        </div>
        <div class="inputs">
            <?php echo $this->formText($element); ?>
        </div>
    </div>

    <div class="field">
        <?php
            $name = 'archive_folder_memory_limit';
            $element = new Zend\Form\Element\Text($name);
            $element->setAttribute('id', $name);
            $element->setLabel($this->translate('Memory Limit'));
            $element->setValue($this->setting($name));
        ?>
        <div class="field-meta">
            <?php echo $this->formLabel($element); ?>

            <a href="#" class="expand"></a>
            <div class="collapsible">
                <div class="field-description">
                    <?php echo $this->translate('The memory limit for the background processes.'); ?>
                </div>
            </div>
        </div>
        <div class="inputs">
            <?php echo $this->formText($element); ?>
        </div>
    </div>
</fieldset>

<fieldset id="fieldset-archive-folder-rights">
    <legend><?php echo $this->translate('Rights and Roles'); ?></legend>

    <div class="field">
        <?php
            $name = 'archive_folder_allow_roles';
            $element = new Zend\Form\Element\MultiCheckbox($name);
            $element->setAttribute('id', $name);
            $element->setLabel($this->translate('Roles that can use Archive Folder'));
            $element->setValueOptions($roles);
            $element->setValue(unserialize($this->setting($name)));
        ?>
        <div class="field-meta">
            <?php echo $this->formLabel($element); ?>
        </div>
        <div class="inputs">
            <?php echo $this->formMultiCheckbox($element); ?>
        </div>
    </div>
</fieldset>
